.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    background: none;
    border: 1px solid rgba(255,255,255,0.4);
    color: #fff;
  }
  .search::placeholder{
      color: #fff;
  }